@import "~antd/dist/antd.css";

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

label {
  font-weight: 300 !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.align-center {
  align-items: center;
}
.clickable:hover {
  cursor: pointer;
}

.custom-container {
  max-width: 1260px;
  flex: auto;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
}

.h-100 {
  height: 100%;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display:flex;
  flex-direction: row;
}

.fs-18 {
  font-size: 18px;
}

.fs-24 {
  font-size: 24px;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-space-around {
  justify-content: space-around;
}

.justify-space-between {
  justify-content: space-between;
}

.w-10 {
  width: 10%;
}
.w-50 {
  width: 50%;
}
.w-100 {
  width: 100%;
}


/* PAGE CSS */
.job-listing-list-body {
  min-height: calc(100vh - 190px);
  width: 95%;
}

.subject-section-form:after {
  content: "";
  position: absolute;
  top: 0;
  right: -7.5%;
  bottom: 0;
  width: 15%;
  -webkit-transform: skewX(-10deg);
  -ms-transform: skewX(-10deg);
  transform: skewX(-10deg);
  background-color: rgb(67, 141, 194);
}